    <article class="post">
      <div class="text">
        <p>{{posts.title}}</p>
        <p>{{title}}</p>
        <p>{{post_text}}</p>
      </div>
      <div class="meta">
        Posted by {{user.username}} on
        {{format_date created_at}} | {{comments.length}} {{format_plural "comment" comments.length}}
      </div>

    {{#if loggedIn}}
      <a href="/single-post/{{id}}">See post</a>
    </article>
    {{/if}}


