        <nav>
          <!--Unordered list element-->
          <ul>
            <!--List item element-->
                <!--Anchor element-->
             <li>
              <a href="/welcome-page">Home</a>
            </li>
            {{#if loggedIn}}
            <li>
                <a href="/dashboard">Dashboard</a>
            </li>
                        <li>
                <a href="/logout">Logout</a>
            </li>
            {{/if}}
            <li>
                <a href="/login">Login</a>
            </li>
          </ul>  
        </nav>

<div id="container-welcome-page" class="container">

<div id="main-container" class="">

  <ul id="post-list-id" class="post-list">
  {{#each posts as |post|}}
    <li>

  {{!-- <article class="post">
        <div class="text">
          <div class="header-post-title">
            <p>{{post.title}}</p>
            Posted by <span id="post-name">{{user.username}} </span> on {{format_date created_at}}
          </div>
          <p>{{post.post_text}}</p>
        </div>
        <a href="/single-post/{{post.id}}">See full post</a>

  </article> --}}

    {{> post-info post }}

    </li>
    <br>
  {{/each}}
  </ul>

</div>

</div>

<script src="/javascript/add-post.js"></script>
<script src="/javascript/logout-chat.js"></script>
